<!DOCTYPE html>
<html>
    <head>
       <title>Calendar Scheduling App</title>
    </head>
    <body>
      <div>
         <h3>Calendar Scheduling App</h3>
         <a href="/">Home</a>
         {% if current_user.is_anonymous %}
           <a href="/login">Log In</a>
         {% else %}
           <a href="/logout">Log Out</a>
         {% endif %}
       </div>
       <hr>

       {% block content %}{% endblock %}

       {% with messages = get_flashed_messages() %}
         {% if messages %}
            {% for message in messages %}
              <p>{{ message }}<p>
            {% endfor %}
         {% endif %}
       {% endwith %}

    </body>
</html>
