{% extends "base.html" %}

{% block content %}
    <h1>Appointment with {{ user }} on: {{ month }}/{{ day }}</h1>

    {% if availability != None and meetings != None and not allBooked %}

      <!-- <h2>{{ user }} is generally available from {{ availability.from_time }} to {{ availability.to_time }}</h2>
      <h3>Appointments will be in {{ meetings.length }} intervals</h3> -->


      <form action="" method="post" novalidate>
          {{ form.hidden_tag() }}
          <div>
            {{ form.times.label }}
            {% for subfield in form.times %}
              <p>
                {{ subfield }}
                {{ subfield.label }}
              </p>
            {% endfor %}
          </div>
          <p>
            {{ form.person.label }} (Must include name)<br>
            {{ form.person(size=32) }}
          </p>
          <p>
            {{ form.details.label }} (Optional)<br>
            {{ form.details(size=50) }}
          </p>
          <p>{{ form.submit() }}</p>
      </form>

    {% else %}
      <h2>{{ user }} is currently unavailable on {{ month }}/{{ day }}</h2>

    {% endif %}

{% endblock %}
