<html lang="en">
{% extends "base.html" %}

{% block content %}
<head>
  <link rel="stylesheet" href="index.css">
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
</head>

<div class = "jumbotron text-center" class="p-3 mb-2 bg-info text-white">
<h1>Calendar Scheduling App</h1>
<p class="text-info"> Welcome to your home page!</p>
</div>
<div class="text-center">
<!-- {{ User.query.all()}} -->
    {% if current_user.is_anonymous %}
      <h1>Hi, Guest!</h1>
      <br>
      <a href="/splashpage"><p>Click here to learn more about what our website is all about!</p></a>
      <p>Don't have an account?</p>
      <a href="/createAccount">
          <button>
              Create an Account
          </button>
      </a>
    {% else %}
      <h1 class="text-info" class="text-center" class="text-justify">Hi, {{ current_user.username }}!</h1>
      <div class="alert alert-info" role="alert">
      <p>Others can make appointments with you at
        <a href="/{{ current_user.username }}"><strong>this link.</strong></a>
      </p>
    </div>

      <br>
      <p>Don't forget to set your availability and meeting duration in Settings!</p>
      <br>
</div>

    {% endif %}
{% endblock %}
</html>
