{% extends "base.html" %}

{% block content %}

<h1 class="text-info">Scheduled Meetings for {{ current_user.username }}</h1>
<h2>
   <link rel = "stylesheet" href="meetingsPage.css" />
</h2>

<div class="text-center">
<table border = "5" width = "100%" cellpadding = "4" cellspacing = "3">
  {% if appointments_list != None %}
    <tr>
        <th> Meeting Date </th>
        <th> Meeting Time </th>
        <th> Participant </th>
        <th> Description of Meeting </th>
    </tr>

      {% for item in appointments_list %}
        <tr>
          <td>{{ item.meetingDate }} </td>
          <td>{{ item.meetingTime }}</td>
          <td>{{ item.participants }}</td>
          <td>{{ item.descriptionOfMeeting}}</td>
        </tr>
      {% endfor %}

  {% else %}

    <h3 class="text-danger">You have no scheduled meetings.</h3>

  {% endif %}

</table>
</div>

{% endblock %}
